# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ROS
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg